.image {
  width: 270px;
  height: 200px;
  object-fit: cover;
  display: block;
  border: solid 1px gray;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.image:hover {
  transform: scale(1.04);
}
